<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAOJftYLvyl99i_YeWknxo1onXrFRLL1OM</string>
	<key>GCM_SENDER_ID</key>
	<string>990764803908</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hanbeulyou.badaonapp</string>
	<key>PROJECT_ID</key>
	<string>badaon-e47fe</string>
	<key>STORAGE_BUCKET</key>
	<string>badaon-e47fe.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:990764803908:ios:3aa205d54411178ea9d911</string>
</dict>
</plist>